{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="d-flex justify-content-center m-1 p-1">
        <div class="display-4">Todo App</div>
    </div>
    <div class="d-flex justify-content-center border m-1 p-1">
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="submit" id="" value="&#9711;">
        </form>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="submit" value="&#10004;">
        </form>
        <form action="/" method="POST" class="w-100">
            {% csrf_token %}
            <input type="text" class="w-100" placeholder="Edit your todo here...">
        </form>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="submit" value="&#9998;">
        </form>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="submit" disabled value="&#9998;">
        </form>
        <form action="/" method="POST">
            {% csrf_token %}
            <input type="submit" value="&#9940;">
        </form>
    </div>
    <div class="d-flex justify-content-center border m-1 p-1">
        <form action="/" class="w-100">
            {% csrf_token %}
            <input type="text" class="w-100" placeholder="Add your todo here...">
        </form>
        <form action="/">
            {% csrf_token %}
            <input type="submit" value="&#10010;">
        </form>
    </div>
</div>
{% endblock body %}